[submodule "front-end"]
	path = front-end
	url = https://github.com/hectork4/MarvelChallangeFront.git
[submodule "back-end"]
	path = back-end
	url = https://github.com/hectork4/MarvelChallengeBack.git
